<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MasterDetail.Properties.Settings.ErpAssistConnectionString"
            connectionString="Data Source=DESKTOP-4SJ0J40;Initial Catalog=ErpAssist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>